body {
	font-family: "Verdana", "Tahoma", "Arial";
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 17px;
	color: #494949;
	letter-spacing: 1px;
}
h2,h3,h4,h5 {
	text-align: left;
	font-size: 18px;	
	color: #303030;
}